@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400;1,700&display=swap");

footer {
  color: #fff;
  padding: 30px 0;
  background-color: #000;
}

footer h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", sans-serif;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}

footer ul li i {
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

.social li {
  display: inline-block;
  margin-right: 10px;
}
footer ul li a:hover {
  color: #0589ff;
}
.social li a {
  color: #fff;
  font-size: 20px;
}

.social li a:hover {
  color: #f3c500;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 776px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }
}
