@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400;1,700&display=swap");

body {
  background-color: #fff !important;
  object-fit: contain;
}
.card-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 550px;
}
.banner-init {
  background-color: #000;
  color: #fff;
  height: 550px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}
.banner-init-text {
  padding-top: 40px;
  width: 48%;
  box-sizing: border-box;
}
.banner-init-empty {
  width: 48%;
  background-image: url(../img/fred-neethling-B5kArJMgNEs-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 2%;
}
.banner-second {
  background-color: #f2f2f2;
  width: 80%;
  margin: 25px auto;
  color: #000;
  height: 450px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}
.banner-second-empty {
  width: 48%;
  background-image: url(../img/apple.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 2%;
}

.big-header-text {
  text-align: center;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.009em;
  font-size: 60px;
  width: 60%;
  margin: 0 auto 50px;
}

.btn {
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}
.btn-small {
  width: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin: auto;
}
.btn-blue:hover {
  background-color: #2298f8;
}
.btn-blue {
  background: #058dff;
  color: #fff;
}
.btn-blue a {
  color: #fff;
}

.card-text-big {
  font-size: 22px;
  line-height: 1.167;
  font-weight: 400;
  letter-spacing: 0.009em;
  width: 90%;
  margin: 5px auto 0;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 35px;
  width: 80%;
  margin: 0 auto 25px;
}

.card {
  height: 400px;
}
.card,
.card-second {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(245, 239, 239, 0.89);
  transition: 0.3s;
  width: 23%;
  text-align: center;
  border-radius: 8px;
  object-fit: contain;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.card-second {
  height: 450px;
}
.card:hover,
.card-second:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.card img,
.card-second img {
  height: 50%;
  margin-bottom: 15px;
  object-fit: contain;
}
.container-wrapper {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  height: 100px;
}
.color-wrapper {
  display: flex;
  width: 40px;
  margin: auto;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.col-1 {
  width: 12px;
  height: 12px;
  background-color: #058dff;
  border-radius: 50%;
}
.col-2 {
  width: 12px;
  height: 12px;
  background-color: #4805ff;
  border-radius: 50%;
}
.col-3 {
  width: 12px;
  height: 12px;
  background-color: #ff052f;
  border-radius: 50%;
}

.link-more {
  font-size: 17px;
  line-height: 1.23;
  font-weight: 400;
  letter-spacing: 0.022em;
  color: rgb(0, 102, 204);
  text-decoration: none;
  align-items: center;
}
.link-more:hover {
  color: #008cff;
}

.first-items,
.second-items {
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.header-text {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 25px;
}

.item-text-small {
  color: #ff052f;
  margin: 5px;
}
.middle-text-wrapper {
  font-style: italic;
}
.small-text-wrapper {
  margin: 20px auto;
  width: 500px;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.022em;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1200px) {
  .big-header-text {
    font-size: 48px;
  }
  .card-text-big {
    font-size: 14px;
  }
  .link-more {
    font-size: 14px;
  }
  .container-wrapper {
    padding-bottom: 25px;
  }
  .card-second {
    height: 400px;
  }
  /* .card-wrapper {
    flex-direction: column;
  } */
  .first-items,
  .second-items {
    width: 100%;
  }
  .small-text-wrapper {
    width: 70%;
  }
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 992px) {
  .small-text-wrapper {
    width: 350px;
  }
  .item-wrapper {
    flex-direction: column;
  }
  .first-items,
  .second-items {
    width: 100%;
  }
  .second-items {
    margin-top: 10px;
  }
  .card-text-big {
    font-size: 20px;
    width: 84%;
    margin: auto;
  }
  .banner-second-empty,
  .banner-init-empty {
    display: none;
  }
  .banner-init-text {
    width: 100%;
  }
}

@media screen and (max-width: 772px) {
  .banner-init,
  .banner-second {
    flex-direction: column;
  }
  .banner-init-text {
    width: 100%;
  }
  .small-text-wrapper {
    font-size: 15px;
    width: 300px;
  }
  .header-text,
  .big-header-text {
    font-size: 32px;
    letter-spacing: 0.004em;
  }
  .card {
    margin: 40px auto;
    width: 80%;
  }
  .link-more {
    font-size: 14px;
  }
  .card-text-big {
    font-size: 17px;
  }
  .card-second {
    height: 300px;
  }
  .card-second {
    height: 350px;
  }
}

@media screen and (max-width: 576px) {
  .banner-init,
  .banner-second {
    flex-direction: column;
    height: 360px;
  }
  .banner-second {
    width: 90%;
  }
  .banner-init-text {
    width: 100%;
  }
  .small-text-wrapper {
    font-size: 14px;
    width: 250px;
  }
  .first-items,
  .second-items {
    flex-direction: column;
  }
  .card {
    width: 97%;
    margin: 10px auto;
  }
  .header-text {
    font-size: 22px;
  }
  .card-text-big {
    font-size: 20px;
    width: 60%;
    margin: auto;
  }
  .card-second {
    height: 350px;
  }
}
